* {
    box-sizing: inherit;
    margin: 0;
}

html {
    box-sizing: border-box;
}

.grid {
    margin: 0 auto;
    width: 1200px;
}

.grid__row {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -8px;
}

.grid__column-6 {
    width: 50%;
    padding: 0 8px;
}

.app {}


/* Navbar */

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar__logoandlist {
    width: 600px;
    height: 64px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar__logo {}

.navbar__menu {}

.navbar__menu-list {
    display: flex;
    list-style: none;
    width: 480px;
    justify-content: space-around;
    align-items: center;
}

.menu-list-item {
    padding: 20px 10px;
}

.menu-list-item:hover .navbar_menu-link {
    color: #00bdd6;
}

.menu-list-item:hover {
    border-bottom: 4px solid #00bdd6;
}

.menu-list-item--active {
    border-bottom: 4px solid #00bdd6;
}

.menu-list-item--active .navbar_menu-link {
    color: #00bdd6;
}

.navbar_menu-link {
    text-decoration: none;
    height: 60px;
    color: #676e7b;
    font-weight: 600;
}

.navbar__searchanduser {
    display: flex;
    width: 480px;
    height: 64px;
    justify-content: space-between;
    align-items: center;
}

.navbar__searching {
    width: 335px;
    height: 35px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #f3f4f6;
    border-radius: 5px;
}

.navbar__searching-icon {
    color: #676e7b;
    margin: 0 5px;
}

.navbar__searching-input {
    border: none;
    outline: none;
    width: 325px;
    height: 30px;
    background-color: #f3f4f6;
}

.navbaar__shopinganduser {
    display: flex;
    width: 125px;
    height: 100%;
    justify-content: space-between;
    align-items: center;
}

.shoping-bell {
    color: #676e7b;
    font-size: 22px;
}

.shoping-icon {
    color: #676e7b;
    font-size: 22px;
}

.navbar-user {}


/* production */

.production {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
}

.production-menu {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: start;
}

.menu-list {
    width: 200px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    list-style: none;
    padding: 0;
}

.prd-list-item {
    padding: 5px 0px;
}

.prd-item-link {
    text-decoration: none;
    color: #676e7b;
    font-weight: 500;
}

.prd-list-item-text {
    width: 10px;
    color: #676e7b;
}

.prd-item--active {
    color: black;
}

.prd-item-link:hover {
    color: black;
}

.production-title {
    font-size: 64px;
    font-weight: 600;
}

.production-evaluate {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    height: 50px;
}

.evaluate-1 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 200px;
}

.evaluate-img {}

.evaluate-text {
    color: black;
    font-size: 16px;
    font-weight: 700;
}

.evaluate-countreviews {
    font-size: 16px;
    font-weight: 500;
    color: #676e7b;
}

.evaluate-2 {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 200px;
}

.eva-2 {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 65px;
}

.evaluate-icon {
    color: #676e7b;
}

.evaluate-text {
    font-size: 16px;
    font-weight: 400;
}

.prd-img {
    border-radius: 8px;
    margin-bottom: 16px;
}